In [59]:
import pandas as pd
import os
from datetime import datetime as dt

In [60]:
filepath = os.path.join('Data', 'All_airbnb_listings.csv')
df = pd.read_csv(filepath, header=0)

In [61]:
df.head()

,date,id,name,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,reviews_per_month,reviews
0,2015-03-01,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,2
1,2015-05-12,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,0
2,2016-01-01,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.03,0
3,2017-10-04,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
4,2017-11-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0

In [62]:
df[df['reviews']<0]=0

In [63]:
df["reviews"].min()

0

In [64]:
df['date'] = pd.to_datetime(df['date'])
df

,date,id,name,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,reviews_per_month,reviews
0,2015-03-01,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,2
1,2015-05-12,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,0
2,2016-01-01,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.03,0
3,2017-10-04,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
4,2017-11-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
5,2017-12-09,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
6,2018-01-16,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
7,2018-02-08,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
8,2018-04-11,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
9,2018-05-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
10,2018-07-10,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
11,2018-08-14,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
12,2018-09-14,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
13,2018-10-09,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
14,2018-12-10,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
15,2019-01-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
16,2019-02-06,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
17,2019-03-08,7893,North Williams 2brm Home,Piedmont,45.575480,-122.666780,Entire home/apt,175,2,0.02,0
18,2015-03-01,9356,"Space, Privacy & Convenience",Woodlawn,45.567297,-122.653818,Entire home/apt,75,8,0.10,8
19,2015-05-12,9356,Clean & Comfy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,95,24,0.30,16
20,2015-09-02,9356,Clean & Comfy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,95,57,0.78,33
21,2015-11-02,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,80,76,1.01,19
22,2015-12-02,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,60,78,1.02,2
23,2016-01-01,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,85,86,1.11,8
24,2016-02-03,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,85,87,1.11,1
25,2016-04-05,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,75,93,1.15,6
26,2016-05-03,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,75,104,1.28,11
27,2016-06-03,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,80,115,1.39,11
28,2016-07-04,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,99,117,1.40,2
29,2016-08-04,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,115,127,1.50,10
...,...,...,...,...,...,...,...,...,...,...,...
190786,2019-11-09,39765415,New Daunting urban two bedroom in Downtown PDX,Northwest District,45.531880,-122.688580,Entire home/apt,270,0,NaN,0
190787,2019-11-09,39765944,Downtown PDX Darling 2 BR Apt for up to 6 guests,Pearl,45.532880,-122.683560,Entire home/apt,270,0,NaN,0
190788,2019-11-09,39766510,New Adorable 2 Bedroom 1 Bath Apt in Downtown PDX,Pearl,45.530080,-122.685470,Entire home/apt,158,0,NaN,0
190789,2019-11-09,39774257,"Luxury 1 BR Apt in NW Portland, Free parking",Northwest District,45.534230,-122.707890,Entire home/apt,90,0,NaN,0
190790,2019-11-09,39774773,Cozy 1-Bedroom Close to Heart of SE PDX,Richmond,45.498760,-122.634620,Entire home/apt,75,2,2.00,2
190791,2019-11-09,39778697,Cozy Room in Sweet NoPo Home,Portsmouth,45.588920,-122.727560,Private room,58,0,NaN,0
190792,2019-11-09,39781784,Modern 3Bdr in SE walk to Hawthorne & Division,Mt. Tabor,45.521330,-122.611170,Entire home/apt,350,0,NaN,0
190793,2019-11-09,39795596,"Exclusive Use of an 8,000 sq. ft. Historic Man...",Irvington,45.535450,-122.649660,Entire home/apt,1200,0,NaN,0
190794,2019-11-09,39796717,Comfortable King Room Downtown/Pearl District,Pearl,45.529190,-122.680650,Private room,57,0,NaN,0
190795,2019-11-09,39814246,Spacious Loft on Mississipi Ave,Humboldt,45.555290,-122.675780,Entire home/apt,149,0,NaN,0
190796,2019-11-09,39815491,"Bright, lively and humble dwelling in SE Portland",Richmond,45.504900,-122.620830,Private room,60,0,NaN,0
190797,2019-11-09,39837582,Modern and cozy hideaway in NE Portland.,King,45.553820,-122.663240,Entire home/apt,149,0,NaN,0
190798,2019-11-09,39842703,Maplewood Manor,Maplewood,45.471710,-122.738320,Entire home/apt,150,0,NaN,0
190799,2019-11-09,39844915,International house near PDX,Parkrose Heights,45.542040,-122.543850,Private room,30,0,NaN,0
190800,2019-11-09,39845797,Dreamer #9–Just Steps from the Max,Kenton,45.584040,-122.683710,Entire home/apt,125,0,NaN,0
190801,2019-11-09,39846092,Dreamer #6–Just Steps from the Max,Kenton,45.582910,-122.683900,Entire home/apt,125,0,NaN,0
190802,2019-11-09,39846186,Entertainer #4–Just Steps from the Max,Kenton,45.582980,-122.682910,Entire home/apt,125,0,NaN,0
190803,2019-11-09,39846286,Dreamer #3-Just Steps from the Max (No Stairs),Kenton,45.584870,-122.682240,Entire home/apt,125,0,NaN,0
190804,2019-11-09,39846406,Strategist-Just Steps from the Max,Kenton,45.583380,-122.684550,Entire home/apt,100,0,NaN,0
190805,2019-11-09,39852692,New Darling 2 story loft in Downtown Portland,Northwest District,45.533010,-122.687680,Entire home/apt,200,0,NaN,0
190806,2019-11-09,39853411,Savory 2 BR & 1 Bath Apt in Downtown Portland,Pearl,45.530170,-122.686680,Entire home/apt,250,0,NaN,0
190807,2019-11-09,39869095,Charming 2Bdrs Townhouse in south Waterfront.,Portland Downtown,45.512280,-122.673880,Entire home/apt,175,0,NaN,0
190808,2019-11-09,39893822,Upscale European Artful Irvington Gem Nest,Irvington,45.536730,-122.640830,Entire home/apt,104,0,NaN,0
190809,2019-11-09,39908217,Stupendous urban two bedroom in Downtown Portland,Pearl,45.530950,-122.685280,Entire home/apt,250,0,NaN,0
190810,2019-11-09,39923189,The Portland Mercantile,Humboldt,45.556800,-122.676580,Entire home/apt,225,0,NaN,0
190811,2019-11-09,39940341,"STUNNING VIEWS OF MT. HOOD, RIVERS AND VALLEY.",Arnold Creek,45.434910,-122.708520,Entire home/apt,75,0,NaN,0
190812,2019-11-09,39944232,North Portland Studio,Piedmont,45.573310,-122.669190,Entire home/apt,100,0,NaN,0
190813,2019-11-09,39965604,Base Camp Retreat PDX,Homestead,45.498100,-122.691760,Private room,44,0,NaN,0
190814,2019-11-09,39972863,Work life balance,Old Town/Chinatown,45.523930,-122.672230,Entire home/apt,0,0,NaN,0
190815,2019-11-09,39973987,Newly Renovated Stylish Home w/3 baths,Lents,45.478460,-122.563330,Entire home/apt,199,0,NaN,0

In [9]:
clean_data = df.loc[df['date'] > '2015-03-01']

In [78]:
review_df= pd.DataFrame(clean_data.groupby(['date'])['reviews'].mean())
review_df.reset_index()

         date    reviews
0  2015-05-12   5.311962
1  2015-09-02  10.238521
2  2015-11-02   5.264074
3  2015-12-02   1.803590
4  2016-01-01   1.341874
5  2016-02-03   1.644265
6  2016-04-05   3.387044
7  2016-05-03   1.889139
8  2016-06-03   2.474831
9  2016-07-04   2.925893
10 2016-08-04   3.462375
11 2016-09-04   3.475910
12 2016-11-06   5.647137
13 2016-12-08   2.072197
14 2017-01-04   1.427747
15 2017-02-09   2.057635
16 2017-03-05   1.578330
17 2017-04-07   2.630214
18 2017-05-07   2.509886
19 2017-06-05   2.588570
20 2017-07-06   3.399736
21 2017-08-06   3.561998
22 2017-09-12   4.387866
23 2017-10-04   1.995529
24 2017-11-13   2.908910
25 2017-12-09   1.561222
26 2018-01-16   2.560380
27 2018-02-08   1.173353
28 2018-04-11   4.387897
29 2018-05-13   2.462889
30 2018-07-10   5.400162
31 2018-08-14   4.011846
32 2018-09-14   3.282308
33 2018-10-09   2.208773
34 2018-12-10   4.350133
35 2019-01-13   1.901711
36 2019-02-06   1.201083
37 2019-03-08   1.763355
38 2019-04-10   2.415455
39 2019-05-13   2.391453
40 2019-06-07   2.019878
41 2019-07-10   3.063766
42 2019-09-17   7.928365
43 2019-10-16   2.950972
44 2019-11-09   2.089125

In [79]:
review_df.to_csv("data/Reviews.csv",sep=",",index=True)

In [11]:
price_data = df.loc[(df['price']<1000) &(df['price']>1)]

In [15]:
price_data['price'].min()

10

In [17]:
price_data

,date,id,name,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,reviews_per_month,reviews
0,2015-03-01,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,2
1,2015-05-12,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,0
2,2016-01-01,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.03,0
3,2017-10-04,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
4,2017-11-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
5,2017-12-09,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
6,2018-01-16,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
7,2018-02-08,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
8,2018-04-11,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
9,2018-05-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
10,2018-07-10,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
11,2018-08-14,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
12,2018-09-14,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
13,2018-10-09,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
14,2018-12-10,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
15,2019-01-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
16,2019-02-06,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0
17,2019-03-08,7893,North Williams 2brm Home,Piedmont,45.575480,-122.666780,Entire home/apt,175,2,0.02,0
18,2015-03-01,9356,"Space, Privacy & Convenience",Woodlawn,45.567297,-122.653818,Entire home/apt,75,8,0.10,8
19,2015-05-12,9356,Clean & Comfy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,95,24,0.30,16
20,2015-09-02,9356,Clean & Comfy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,95,57,0.78,33
21,2015-11-02,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,80,76,1.01,19
22,2015-12-02,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,60,78,1.02,2
23,2016-01-01,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,85,86,1.11,8
24,2016-02-03,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,85,87,1.11,1
25,2016-04-05,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,75,93,1.15,6
26,2016-05-03,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,75,104,1.28,11
27,2016-06-03,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,80,115,1.39,11
28,2016-07-04,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,99,117,1.40,2
29,2016-08-04,9356,Clean & Cozy NE Vintage House,Woodlawn,45.567297,-122.653818,Entire home/apt,115,127,1.50,10
...,...,...,...,...,...,...,...,...,...,...,...
190784,2019-11-09,39746092,Urban Campsite Safe and Quiet #vanlife,Portsmouth,45.588670,-122.721480,Entire home/apt,30,0,NaN,0
190785,2019-11-09,39754767,"Peaceful, private room with work space",Lents,45.476200,-122.569910,Private room,25,0,NaN,0
190786,2019-11-09,39765415,New Daunting urban two bedroom in Downtown PDX,Northwest District,45.531880,-122.688580,Entire home/apt,270,0,NaN,0
190787,2019-11-09,39765944,Downtown PDX Darling 2 BR Apt for up to 6 guests,Pearl,45.532880,-122.683560,Entire home/apt,270,0,NaN,0
190788,2019-11-09,39766510,New Adorable 2 Bedroom 1 Bath Apt in Downtown PDX,Pearl,45.530080,-122.685470,Entire home/apt,158,0,NaN,0
190789,2019-11-09,39774257,"Luxury 1 BR Apt in NW Portland, Free parking",Northwest District,45.534230,-122.707890,Entire home/apt,90,0,NaN,0
190790,2019-11-09,39774773,Cozy 1-Bedroom Close to Heart of SE PDX,Richmond,45.498760,-122.634620,Entire home/apt,75,2,2.00,2
190791,2019-11-09,39778697,Cozy Room in Sweet NoPo Home,Portsmouth,45.588920,-122.727560,Private room,58,0,NaN,0
190792,2019-11-09,39781784,Modern 3Bdr in SE walk to Hawthorne & Division,Mt. Tabor,45.521330,-122.611170,Entire home/apt,350,0,NaN,0
190794,2019-11-09,39796717,Comfortable King Room Downtown/Pearl District,Pearl,45.529190,-122.680650,Private room,57,0,NaN,0
190795,2019-11-09,39814246,Spacious Loft on Mississipi Ave,Humboldt,45.555290,-122.675780,Entire home/apt,149,0,NaN,0
190796,2019-11-09,39815491,"Bright, lively and humble dwelling in SE Portland",Richmond,45.504900,-122.620830,Private room,60,0,NaN,0
190797,2019-11-09,39837582,Modern and cozy hideaway in NE Portland.,King,45.553820,-122.663240,Entire home/apt,149,0,NaN,0
190798,2019-11-09,39842703,Maplewood Manor,Maplewood,45.471710,-122.738320,Entire home/apt,150,0,NaN,0
190799,2019-11-09,39844915,International house near PDX,Parkrose Heights,45.542040,-122.543850,Private room,30,0,NaN,0
190800,2019-11-09,39845797,Dreamer #9–Just Steps from the Max,Kenton,45.584040,-122.683710,Entire home/apt,125,0,NaN,0
190801,2019-11-09,39846092,Dreamer #6–Just Steps from the Max,Kenton,45.582910,-122.683900,Entire home/apt,125,0,NaN,0
190802,2019-11-09,39846186,Entertainer #4–Just Steps from the Max,Kenton,45.582980,-122.682910,Entire home/apt,125,0,NaN,0
190803,2019-11-09,39846286,Dreamer #3-Just Steps from the Max (No Stairs),Kenton,45.584870,-122.682240,Entire home/apt,125,0,NaN,0
190804,2019-11-09,39846406,Strategist-Just Steps from the Max,Kenton,45.583380,-122.684550,Entire home/apt,100,0,NaN,0
190805,2019-11-09,39852692,New Darling 2 story loft in Downtown Portland,Northwest District,45.533010,-122.687680,Entire home/apt,200,0,NaN,0
190806,2019-11-09,39853411,Savory 2 BR & 1 Bath Apt in Downtown Portland,Pearl,45.530170,-122.686680,Entire home/apt,250,0,NaN,0
190807,2019-11-09,39869095,Charming 2Bdrs Townhouse in south Waterfront.,Portland Downtown,45.512280,-122.673880,Entire home/apt,175,0,NaN,0
190808,2019-11-09,39893822,Upscale European Artful Irvington Gem Nest,Irvington,45.536730,-122.640830,Entire home/apt,104,0,NaN,0
190809,2019-11-09,39908217,Stupendous urban two bedroom in Downtown Portland,Pearl,45.530950,-122.685280,Entire home/apt,250,0,NaN,0
190810,2019-11-09,39923189,The Portland Mercantile,Humboldt,45.556800,-122.676580,Entire home/apt,225,0,NaN,0
190811,2019-11-09,39940341,"STUNNING VIEWS OF MT. HOOD, RIVERS AND VALLEY.",Arnold Creek,45.434910,-122.708520,Entire home/apt,75,0,NaN,0
190812,2019-11-09,39944232,North Portland Studio,Piedmont,45.573310,-122.669190,Entire home/apt,100,0,NaN,0
190813,2019-11-09,39965604,Base Camp Retreat PDX,Homestead,45.498100,-122.691760,Private room,44,0,NaN,0
190815,2019-11-09,39973987,Newly Renovated Stylish Home w/3 baths,Lents,45.478460,-122.563330,Entire home/apt,199,0,NaN,0

In [56]:
price= pd.DataFrame(price_data.groupby(['date'])['price'].mean())
price.reset_index()

         date       price
0  2015-03-01  100.589888
1  2015-05-12  107.492823
2  2015-09-02  116.866558
3  2015-11-02  111.262417
4  2015-12-02  108.610211
5  2016-01-01  105.984896
6  2016-02-03  103.364437
7  2016-04-05  105.319184
8  2016-05-03  107.019299
9  2016-06-03  108.141057
10 2016-07-04  110.508041
11 2016-08-04  110.948167
12 2016-09-04  110.728267
13 2016-11-06  110.545333
14 2016-12-08  109.363828
15 2017-01-04  108.602153
16 2017-02-09  105.433142
17 2017-03-05  106.193169
18 2017-04-07  108.255505
19 2017-05-07  109.415621
20 2017-06-05  110.817960
21 2017-07-06  112.642706
22 2017-08-06  116.996094
23 2017-09-12  118.759289
24 2017-10-04  118.706080
25 2017-11-13  115.686656
26 2017-12-09  115.639603
27 2018-01-16  113.613693
28 2018-02-08  113.332768
29 2018-04-11  113.519852
30 2018-05-13  114.133543
31 2018-07-10  116.095702
32 2018-08-14  114.775905
33 2018-09-14  114.454373
34 2018-10-09  114.616883
35 2018-12-10  110.985571
36 2019-01-13  113.993113
37 2019-02-06  113.163315
38 2019-03-08  113.626667
39 2019-04-10  116.156181
40 2019-05-13  117.531919
41 2019-06-07  119.439301
42 2019-07-10  119.592282
43 2019-09-17  116.926595
44 2019-10-16  124.963873
45 2019-11-09  124.835339

In [58]:
price.to_csv("data/Price.csv", sep=',', index=True)

## Getting month of the date

In [80]:
df['month'] = pd.DatetimeIndex(df['date']).month
df.head()

,date,id,name,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,reviews_per_month,reviews,month
0,2015-03-01,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,2,3
1,2015-05-12,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,0,5
2,2016-01-01,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.03,0,1
3,2017-10-04,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0,10
4,2017-11-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0,11

In [85]:
review_month= pd.DataFrame(df.groupby(['month'])['price'].mean())
review_month.reset_index()

    month       price
0       1  114.827788
1       2  114.881711
2       3  112.821900
3       4  116.746876
4       5  116.648886
5       6  119.279081
6       7  119.839474
7       8  118.146486
8       9  119.557787
9      10  126.531490
10     11  121.887706
11     12  114.498462

In [90]:
df['day-of-week'] = df['date'].dt.day_name()
df.head()

,date,id,name,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,reviews_per_month,reviews,month,Day,day-of-week
0,2015-03-01,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,2,3,1,Sunday
1,2015-05-12,7893,Alberta Arts 2brm,King,45.561636,-122.655729,Entire home/apt,95,2,0.00,0,5,12,Tuesday
2,2016-01-01,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.03,0,1,1,Friday
3,2017-10-04,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0,10,4,Wednesday
4,2017-11-13,7893,North Williams 2brm Home,Piedmont,45.575479,-122.666777,Entire home/apt,175,2,0.02,0,11,13,Monday

In [95]:
review_day= pd.DataFrame(df.groupby(['day-of-week'])['price'].mean())
review_day.reset_index()

  day-of-week       price
0      Friday  118.157547
1      Monday  117.443329
2    Saturday  128.580737
3      Sunday  114.909278
4    Thursday  112.909758
5     Tuesday  117.471016
6   Wednesday  120.947040

In [98]:
room_type= pd.DataFrame(df.groupby(['room_type'])['price'].count())
room_type.reset_index()

         room_type   price
0                0     134
1  Entire home/apt  126289
2       Hotel room      29
3     Private room   61435
4      Shared room    2929